{% extends getPartial('page-design') %}

{% block PageBody %}

<!-- Inhalte für Startseite im Plentymarkets Backend im Bereich CMS/ShopBuilder bearbeiten -->

<!-- HTML CODE BLOCK HEADLINES -->
<div class="home-headline-1">
    Unsere <span style="font-weight:300">Produkte </span></div>
</div>
<!-- HTML CODE BLOCK HEADLINES -->


<!-- HTML CODE BLOCK SEO TEXT -->
 <h1 class="home-headline-2">Medizinische Produkte, medizinische Geräte und Gesundheitsprodukte</h1>
    <p class="text-justify home-seo-text" style="text-align-last: center;">Das Thema &bdquo;Gesundheit&ldquo; hat in den letzten Jahren mehr und mehr an Bedeutung gewonnen. Gesund und bewusst leben ist f&uuml;r Viele ein Thema, nicht nur, wenn die eigene Gesundheit einen besonderen Umgang erforderlich macht. Um Ihnen das t&auml;gliche Leben zu erleichtern haben wir verschiedene medizinische Produkte entwickelt. Medizinische Ger&auml;te, die sowohl bei chronischen Erkrankungen als auch in Situationen besonderer Kontrolle eingesetzt werden k&ouml;nnen. Wir von medisana produzieren stetig neue medizinische Ger&auml;te f&uuml;r die verschiedenen Bereiche der Gesundheitskontrolle, die mit einer einfachen Bedienung ausgestattet sind und durch einwandfreie Ergebnisse &uuml;berzeugen.</p>
    <p class="text-justify home-seo-text" style="text-align-last: center;">Unser Fokus liegt jedoch nicht nur auf medizinischen Ger&auml;ten, auch Produkte f&uuml;r das eigene Wohlbefinden geh&ouml;ren zu unserem Portfolio. Wir von medisana versuchen, Ihnen mit unseren Artikeln das Wellnessgef&uuml;hl nach Hause zu bringen. Massageger&auml;te oder Produkte zur Muskelentspannung sorgen f&uuml;r ein entspanntes Wohlbefinden.</p>
<h2 class="home-headline-2">Entdecke die Vielfalt von medisana.</h2>
<!-- HTML CODE BLOCK SEO TEXT -->

{% endblock %}
