is   <div class="footer-row">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-12">
                                        <p class="ftn_foothead">medisana</p>
                                        <ul class="footerList">
                                            <li><a href="/zahlungsarten/" class="footlink">Zahlungsarten</a></li>
                                            <li><a href="/versandkosten/" class="footlink">Versandkosten</a></li>
                                            <li><a href="/kontakt/" class="footlink">Kontakt</a></li>
                                            <li><a href="/login/" class="footlink">Anmelden</a></li>
                                            <li><a href="/register/" class="footlink">Registrieren</a></li>
                                        </ul>    
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-12">
                                        <p class="ftn_foothead">Infos</p>
                                        <ul class="footerList">
                                            <li><a href="/widerrufsrecht/" class="footlink">Widerrufsrecht</a></li>
                                            <li><a href="/datenschutzerklaerung/" class="footlink">Datenschutzerklärung</a></li>
                                            <li><a href="/agb/" class="footlink">AGB</a></li>
                                            <li><a href="/impressum/" class="footlink">Impressum</a></li>
                                        </ul>            
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-12">
                                        <p class="ftn_foothead">Zahlungsarten</p>
                                        <div class="icon-pad"><img src="https://cdn02.plentymarkets.com/t75kxon50e67/frontend/B2B-Shop/medisana/img/layout/icon-pay-paypal.png" class="icon-img"></div>
                                        <div class="icon-pad"><img src="https://cdn02.plentymarkets.com/t75kxon50e67/frontend/B2B-Shop/medisana/img/layout/icon-pay-cc.png" class="icon-img"></div>
                                        <div class="icon-pad"><img src="https://cdn02.plentymarkets.com/t75kxon50e67/frontend/B2B-Shop/medisana/img/layout/icon-pay-vorkasse.png"class="icon-img"></div>
                                        <p class="ftn_foothead_sub">Versandpartner</p>
                                        <div class="icon-pad"><img src="https://cdn02.plentymarkets.com/t75kxon50e67/frontend/B2B-Shop/medisana/img/layout/icon-shipping-dhl.png" class="icon-img"></div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-12">
                                        <p class="ftn_foothead">Kontakt</p>
                                        <div class="icon-info icon-style"><i class="las la-phone"></i></div>
                                        <div class="f-left"><span class="footftn">Rufen Sie uns an unter:</span><br> <a href="tel:+490213136680" class="footlink">+49 (0) 2131 / 36 68 0 </a></div>
                                        <div class="clearer"></div>
                                        <span class="icon-info icon-style"><i class="las la-envelope-open"></i></span>
                                        <div class="f-left"><span class="footftn">oder schreiben Sie uns:</span><br>
                                            <a href="/contact" class="footlink">zum Kontaktformular</a></div>   
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-7 col-md-7 col-12">
                                        <div class="widget widget-newsletter widget-primary">
                                            <div class="widget-inner">
                                                <newsletter-input :title="false" :sub-title="false" :show-name-inputs="false" :show-privacy-policy-checkbox="true" :email-folder="1"></newsletter-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="footer-logo">
                                            <img src="https://cdn02.plentymarkets.com/t75kxon50e67/frontend/B2B-Shop/medisana/img/layout/logo.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
  </div> 






    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="subfooter-ftn">© 2023 Medisana GmbH All Rights Reserved </div>
            </div>
        </div>
    </div>
